<div>
  <div class="my-recipes-header">
    <h1 class="text-center">My Recipes</h1>
    <button class="btn btn-primary add-recipe-btn" data-toggle="modal" data-target="#addRecipeModal">
      Add Recipe &nbsp; <i class="icon ion-plus"></i>
    </button>
    <div style="clear: both;"></div>
  </div>
  <div class="my-recipes-wrapper">
    <%# <h1 class="no-recipes">You have not added any recipes yet</h1> %>
    
    <div class="recipes-wrapper">
  <div class="recipe-item">
    <%= image_tag("categories/potatoes.jpg") %>
    <div class="recipe-desc">
      <h3>Lemon roast potatoes</h3>
      <div class="actions">
        <span class="fav"><i class="icon ion-heart"></i> &nbsp;23 favourites</span>
        <span class="reviews"><i class="icon ion-chatboxes"></i> &nbsp;23 reviews</span>
      </div>
    </div>
  </div>
   <div class="recipe-item">
    <%= image_tag("categories/potatoes.jpg") %>
    <div class="recipe-desc">
      <h3>Lemon roast potatoes</h3>
      <div class="actions">
        <span class="fav"><i class="icon ion-heart"></i> &nbsp;23 favourites</span>
        <span class="reviews"><i class="icon ion-chatboxes"></i> &nbsp;23 reviews</span>
      </div>
    </div>
  </div>
   <div class="recipe-item">
    <%= image_tag("categories/potatoes.jpg") %>
    <div class="recipe-desc">
      <h3>Lemon roast potatoes</h3>
      <div class="actions">
        <span class="fav"><i class="icon ion-heart"></i> &nbsp;23 favourites</span>
        <span class="reviews"><i class="icon ion-chatboxes"></i> &nbsp;23 reviews</span>
      </div>
    </div>
  </div>
   <div class="recipe-item">
    <%= image_tag("categories/potatoes.jpg") %>
    <div class="recipe-desc">
      <h3>Lemon roast potatoes</h3>
      <div class="actions">
        <span class="fav"><i class="icon ion-heart"></i> &nbsp;23 favourites</span>
        <span class="reviews"><i class="icon ion-chatboxes"></i> &nbsp;23 reviews</span>
      </div>
    </div>
  </div>
   <div class="recipe-item">
    <%= image_tag("categories/potatoes.jpg") %>
    <div class="recipe-desc">
      <h3>Lemon roast potatoes</h3>
      <div class="actions">
        <span class="fav"><i class="icon ion-heart"></i> &nbsp;23 favourites</span>
        <span class="reviews"><i class="icon ion-chatboxes"></i> &nbsp;23 reviews</span>
      </div>
    </div>
  </div>
</div>



  </div>
</div>

<%= render 'add_recipe_modal' %>
