<!DOCTYPE html>
<html>
  <head>
    <title>MoreRecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.present? %>
      <script>
        <% if flash[:success] %>
          toastr.success($('<span><%= flash[:success] %></span>'))
        <% end %>
        <% if flash[:error] %>
          toastr.error($('<span><%= flash[:error] %></span>'))
        <% end %>
      </script>
    <% end %>

    <div class="logo">
      <%= image_tag("black-logo.png")%>
    </div>

    <h2> <%= flash[:error] %></h2>
    
    <%= yield %>
  </body>
</html>
